.btnSubmit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-grey1);
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    width: 16rem;
    margin-left: 0.8rem;
    height: 3rem;
}

.btnExcluir {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 0.625rem;
    color: var(--color-grey4);
    background-color: var(--color-grey2);
    width: 3rem;
    height: 1.18rem;
}