:root {
    --color-primary: #FD377E;
    --color-primary2: #E34981;
    --color-secundary: #03B898;
    --color-grey1: #F8F9FA;
    --color-grey2:#E9ECEF;
    --color-grey3: #868E96;
    --color-grey4: #212529;
}