* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    padding: 1rem;
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
}

ul, ol {
    list-style: none;
}

input {
    border: none;
    background: transparent;
    border-radius: 0;
}

@media (min-width: 1024px) {
    main {
        display: flex;
        justify-content: center;
        gap: 5rem;
    }
}